// Colors
$green: #127c00;
$green2: #00cc18;
$white: #ffffff;
$black: #000000;
$grey: #a6a6a6;


// Breakpoints
$breakpoints: (
xm: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px
);

// Max container Size
$max-width: 1000px;